ref/*
.claude/*
.coverage
.mcp.json
CLAUDE.md

config/dev.yaml*
config/dev.yaml
config/prod.yaml
logs/*
util/*
ref_src/*
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.venv
env/
venv/


# Logs  
logs/
logs/*
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pyc

.pytest_cache
.ruff_cache